body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  padding: 0px;
  margin: 0px;
  
}
*, ::after, ::before { 
  box-sizing: border-box; 
}
.App{
  background-color: #d6e4f8;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
}